extends layout
block content

  script(type="text/javascript" src='/js/game/main.js')
  script.

  h1= title
  input#Rady(type='button', name='Rady', value='Rady')
  input#GameStart(type='button', name='GameStart', value='GameStart')
  div(id="enchant-stage")