doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src='/js/jquery-1.8.2.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    meta(http-equiv="x-ua-compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, user-scalable=no")
    meta(name="apple-mobile-web-app-capable" content="yes")
    script(type="text/javascript" src="/js/game/enchant.js")
  body
    block content
